/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer {
  font-family: var(--ff-roboto);
}

.footer-top {
  background: var(--cultured);
}

.footer-list-title {
  position: relative;
  color: var(--rich-black-fogra-29);
  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 25px;
}

.footer-list-title::after {
  content: "";
  display: block;
  background: var(--bittersweet);
  width: 50px;
  height: 2px;
  margin-top: 10px;
}

.footer-link {
  color: var(--onyx);
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 6px;
  transition: var(--transition-1);
}

a.footer-link:is(:hover, :focus) {
  color: var(--bittersweet);
}

.footer-link-text {
  color: var(--onyx);
  font-family: var(--ff-roboto);
  font-size: var(--fs-5);
  line-height: 1.7;
  text-align: justify;
}

.footer-list:not(:last-child) {
  margin-bottom: 30px;
}

.footer-list:first-child ion-icon {
  color: var(--bittersweet);
  font-size: 22px;
}

.footer-bottom {
  background: var(--rich-black-fogra-29);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  color: var(--white);
}

.copyright-link {
  display: inline-block;
  color: var(--bittersweet);
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

@media only screen and (max-width: 575px) {
  .footer-link-box {
    display: block;
  }
}

@media (min-width: 1200px) {
  .footer-link-box {
    display: flex;
    justify-content: space-between;
  }
}
