.container-table{
  display: flex;
  justify-content: center;
}
#table {
  border-collapse: collapse;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
  color: var(--rich-black-fogra-29);
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--rich-black-fogra-29);
  color: white;
}
